$primaryColor: #4cb8ea !default;
$primaryLightColor: #a6def5 !default;
$primaryDarkColor: #339ac7 !default;
$primaryDarkerColor: #227ba3 !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #e6f7fc !default;

$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import "../_variables";
@import "./_fonts";
@import "../../../theme-base/_components";
@import "../_extensions";
